<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <style>
    body {
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 1rem;
    }

    nav {
      margin-bottom: 1rem;
    }

    @media (max-width: 800px) {

      body {
        padding:  10px;
      }

      .container {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
      }
    }

  </style>
</head>
<body>
  <div class="container">
      <nav>
      <a href="{{ '/' | relative_url }}">Home</a> |
      <a href="{{ '/Privacy/' | relative_url }}">Privacy</a>
    </nav>

    <hr>

    {{ content }}
  </div>
</body>
</html>